# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science
- List used libraries used by Data Scientist
- examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Java
5. Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas (Python)
2. NumPy (Python)
3. Matplotlib (Python)
4. VEGAS (Scala)
5. ggplot2 (R)

| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Spyder      |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

## Author
Tiago Domingos